<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Test</title>
<script>
  (function(s,t,a,n){s[t]||(s[t]=a,n=s[a]=function(){n.q.push(arguments)},
  n.q=[],n.v=2,n.l=1*new Date)})(window,"InstanaEumObject","ineum");

  ineum('reportingUrl', 'http://a627-instana:2999/');
  ineum('key', 'Jn2hCdsCQ_Cpz_cxIQKqDg');
  ineum('trackSessions');
</script>
<script defer crossorigin="anonymous"
	src="http://a627-instana:2999/eum.min.js"></script>
</head>
<body>
	<h1>This is 401 test</h1>
</body>
</html>